{% extends 'base.html' %}

{% block title %}upload{% endblock title %}

{% block content %}

    <div class="block-center">
        {% if success_message %}
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">
                    {{ success_message }}
                </div>
            </div>
        {% endif %}

        {% if error_message %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}


        <h1>Upload</h1>
        <form action="" method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="ui positive button">Add data file</button>
        </form>
    </div>
{% endblock content %}